# Global ignores
.DS_Store
node_modules
.env
.idea/
.vscode/

# Laravel-specific ignores
/backend/vendor/
/backend/storage/
/backend/bootstrap/cache/
/backend/.env

# Flutter-specific ignores
/frontend/.flutter-plugins
/frontend/.flutter-plugins-dependencies
/frontend/.packages
/frontend/.dart_tool/
/frontend/build/
/frontend/.env